.destination-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
  border-radius: 8px;
}

.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}
.destinations .item header h4 {
  font-size: 28px;
  margin-top: 0;
  color: var(--texte-primary-color);
  font-weight: var(--titles-weigth);
}

.destinations .item p {
  font-size: 20px;
  color: var(--texte-primary-color);
  font-weight: var(--text-weigth);
  line-height: 32px;
  margin-bottom: 24px;
}

.destinations .button {
  width: 312px;
  height: 64px;
  text-align: center;
  margin: 24px auto;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg);
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-itens {
    flex-direction: row;
  }
}
