.hero .hero-img,
.bottom-hero .hero-img,
.hero .hero-img-packages {
  height: 400px;
  background-size: cover;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  margin-top: 88px;
  background: url(../img/rodape-mobile.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 60px 24px;
  margin: 0;
  font-weight: var(--text-weigth);
  text-align: center;
  line-height: 1.5;
  font-size: 20;
}


/* Pacotes de viagem*/
.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-img {
  height: 460px;
  background: url(../img/page-pacotes/hero-pacotes-mobile.png) no-repeat;
  background-size: cover;
}

.travel-packages .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weigth);
}
.travel-packages .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packages .hero-content p {
  font-size: 20px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero.hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/rodape-descktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 60px 50px;
    font-size: 32;
  }
  /* Pacotes de viagem*/
    .travel-packages .hero-content {
    padding: 210px 70px 107px;
  }

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/page-pacotes/hero-pacotes-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 620px;
    background: url(../img/rodape-descktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 60px 150px;
    font-size: 32px;
  }
  /* Pacotes de viagem*/
    .travel-packages .hero-content {
    padding: 210px 70px 107px;
    margin: 0 auto;
  }
  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/page-pacotes/hero-pacotes-descktop.png) no-repeat;
    background-size: cover;
  }
  .travel-packages .hero-content p {
    width: 570px;
  }
}

@media screen and (min-width: 1440px) {
  .travel-packages .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}