.hero .hero-img,
.bottom-hero .hero-img,
.hero .hero-img-packages{
  height: 400px;
  background-size: cover;
}

.hero .hero-img{
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img{
  margin-top: 88px;
  background: url(../img/rodape-mobile.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 60px 24px;
  margin: 0;
  font-weight: var(--text-weigth);
  text-align: center;
  line-height: 1.5;
  font-size: 20;
}

@media screen and (min-width: 768px) {
  .hero.hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img{
    background: url(../img/rodape-descktop.png) no-repeat;
    background-size: cover;
}
  .hero h2 {
    padding: 60px 50px;
    font-size: 32;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img{
    height: 620px;
    background: url(../img/rodape-descktop.png) no-repeat;
    background-size: cover;
}
  .hero h2 {
    padding: 60px 150px;
    font-size: 32px;
  }
}

.hero .package{
  display: block;
  flex-direction: column;
  padding: 65px 24px 65px 24px;


}

.hero .hero-img-packages{
  background: url(../img/page-pacotes/hero-pacotes-mobile.png) no-repeat;
  background-size: cover;
}

.hero .text-packages h1{
  font-size: 48px;
  color: var(--text-secondary-color);
}
.hero .text-packages hr {
  margin: 16px 0 32px 0;
}

.hero .content-text.packages{
  color: var(--text-secondary-color);
  font-weight: var(--text-weigth);
  line-height: 32px;
}

@media screen and (min-width:768px) {
  .hero .hero-img-packages{
  background: url(../img/page-pacotes/hero-pacotes-tablet.png) no-repeat;
  background-size: cover;
}

.hero .text-packages h1{
  padding: 208px 69px 0 120px;

}
.hero .text-packages hr {
  margin: 16px 0 32px 0;
}

.hero .content-text.packages{
  color: var(--text-secondary-color);
  font-weight: var(--text-weigth);
  line-height: 32px;
}
}